doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The Ongoing Collapse
    script(type='text/javascript', src='public/javascripts/jquery.js')
    script(type='text/javascript', src='public/javascripts/app.js')
    link(rel='icon', type='image/png', href='/public/images/oc.png')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700')
    link(rel='stylesheet', type='text/css', href='public/stylesheets/reset.css')
    link(rel='stylesheet', type='text/css', href='public/stylesheets/app.css')
  body
    div(id='top')
      a(href='https://theongoingcollapse.com') The Ongoing Collapse
    div(id='content')
      p The #[a(href='http://www.gridwatch.templar.co.uk', target='_blank') current] draw on the UK National Grid is #[strong XXX] gigawatts.


      p Of which <strong>XXX%</strong> is coal, <strong>XXX%</strong> is wind, <strong>XXX%</strong> is biomass and <strong>XXX%</strong> is nuclear.
      p There are <a href="http://co2now.org/Current-CO2/CO2-Now/weekly-data-atmospheric-co2.html" target="_blank">currently</a> <strong>XXX</strong> parts per million of carbon in the atmosphere.
      p 1 year ago today there were <strong>XXX</strong> parts per million of carbon in the atmosphere.
      p 10 years ago today there were <strong>XXX</strong> parts per million of carbon in the atmosphere.
      p In Beijing, China, the Air Quality Index is <a href="http://aqicn.org/city/beijing/" target="_blank">currently</a> <strong>XXX</strong>.
      p Crude oil is currently <a href="http://www.quoteoil.com/" target="_blank">valued</a> at <strong>$XXX</strong> a barrel.
      p One Bitcoin is currently <a href="http://www.bitcoinexchangerate.org/" target="_blank">valued</a> at <strong>$XXX</strong>.
      p There are <a href="http://www.statista.com/topics/1145/internet-usage-worldwide/" target="_blank">currently</a> an estimated <strong>XXX</strong> Internet users globally.
      p An estimated <strong>XXX</strong> of them <a href="http://www.statista.com/topics/751/facebook/" target="_blank">use</a> Facebook.
      p So far today there has been <strong>XXX GB</strong> of Internet traffic requiring <strong>XXX MWh</strong> of power and releasing <strong>XXX tons</strong> of carbon.
      p <a href="http://map.ipviking.com/" target="_blank"><strong>Here</strong></a> is a live map of current cyber attacks.
      p To date, there have <a href="http://www.thebureauinvestigates.com/category/projects/drones/drones-graphs/" target="_blank">been</a> up to <strong>XXX</strong> US drone strikes in Pakistan, killing up to <strong>XXX</strong> people.
      p There have <a href="http://www.thebureauinvestigates.com/category/projects/drones/drones-graphs/" target="_blank">been</a> up to <strong>XXX</strong> US drone strikes in Yemen, killing up to <strong>XXX</strong> people.
      p In Somalia, there have <a href="http://www.thebureauinvestigates.com/category/projects/drones/drones-graphs/" target="_blank">been</a> up to <strong>XXX</strong> US drone strikes, killing <strong>XXX</strong> people.
      p <a href="http://www.swpc.noaa.gov/forecast.html" target="_blank"><strong>Here</strong></a> is today's NOAA report on space weather and solar geophysical activity.
      p <a href="http://www.esa.int/Our_Activities/Human_Spaceflight/International_Space_Station/Where_is_the_International_Space_Station" target="_blank"><strong>Here</strong></a> is a map of where the International Space Station is.
      p Check out the latest images from Mars Curiosity <a href="http://www.midnightplanets.com/web/MSL/latestImages.html" target="_blank"><strong>here</strong></a>.
      p There <a href="http://celestrak.com/satcat/boxscore.asp" target="_blank">are</a> <strong>XXX</strong> man-made objects in space.
      p Of those, <strong>XXX</strong> are in active use.
      p Voyager 1 is <a href="http://voyager.jpl.nasa.gov/where/" target="_blank">currently</a> <strong>XXX km</strong> away from Earth.
      p <a href="http://spaceflightnow.com/launch-schedule/" target="_blank"><strong>Here</strong></a> is an up to date list of planned space launches.
      p Solar wind speed around Earth is <a href="http://www.swpc.noaa.gov/" target="_blnka">currently</a> <strong>XXX km/s</strong>.
      p There are <a href="http://exoplanet.eu/catalog/" target="_blank">currently</a> <strong>XXX</strong> known exoplanets.
      p And there <a href="http://exoplanet.eu/catalog/" target="_blank">are</a> <strong>XXX</strong> known exoplanetary systems.
      p <a href="http://www.estofex.org/cgi-bin/polygon/showforecast.cgi?text=yes&fcstfile=2014061006_201406082231_3_stormforecast.xml" target="_blank"><strong>Here</strong></a> is the latest ESTOFEX Storm Forecast.
      p Sea level relative to 0m is currently <strong>XXXm</strong> <a href="http://www.ioc-sealevelmonitoring.org/list.php?order=delay&dir=asc&contact=69" target="_blank">at</a> Lymington, UK.
      p In Gan, Maldives, sea level relative to 0m <a href="http://www.ioc-sealevelmonitoring.org/station.php?code=geor" target="_blank">is</a> currently <strong>XXXm</strong>.
      p The latest earthquake was at <strong>XXX</strong> of magnitude <strong>XXX</strong> at a depth of <strong>XXX km</strong>.
      p <strong><a href="http://inciweb.nwcg.gov" target="_blank">Here</a></strong> is an up to date list of current US fire incidents.
      p <strong><a href="#" target="_blank">Here</a></strong> is today's Department of Homeland Security Daily Infrastructure Report.
    div(id='bottom')
      a(href='/about.html') [about]
      a(href='/links.html') [links]
